/* Safe area support for iOS devices */
ion-content {
  --padding-top: env(safe-area-inset-top);
  --padding-bottom: env(safe-area-inset-bottom);
  --padding-start: env(safe-area-inset-left);
  --padding-end: env(safe-area-inset-right);
  --background: #09090B;
  --color: #ffffffcc;
}

ion-content.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-page {
  --background: #09090B;
}

/* Additional safe area support if needed */
.home-container {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
